*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.gradImage{
    background-image: linear-gradient(to right, cyan, white);
}
body{
    /* background-color: rgb(237, 237, 237); */
}
.regForm{
    background-color: aqua;
    padding: 10px;
    height: 100%;
    border-radius: 30px;


}
.regForm label{
    color: blue;
    margin-right: 40px;
}
.containerOne{
    width: 70%;
    height: 500px;
    display: flex;
    margin: 100px auto;

}
.leftSide{
    flex: 1;

}
.leftSide img{
    width: 100%;
    height: 100%;
    border-radius: 30px;


}
.rightSide{
    flex:1;
    height: 100%;
}
.rightSide form{

}
.custom-form-controls{
    display: flex;
    margin: 15px 20px
}

